<div class="container">
     <div class="row">
        <div class="col-lg-4 col-md-7 col-sm-8 mx-auto mt-5">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="errorMsg" class="text-center text-danger mb-3">{{ errorMsg }} </div>
                    <p class="h4 text-center">Login</p>
                    <form [formGroup]="loginForm">
                        <div class="col-lg-12 col-md-11 col-sm-12 mx-auto">
                            <div class="mt-3">
                                <label class="login-label"for="userId">User ID</label>
                                <input type="text" class="form-control" id="userId" formControlName="username"/>
                                <div *ngIf="username.invalid && (username.dirty || username.touched)" >
                                    <span class="error text-danger" *ngIf="username.errors.required">
                                        User Id is required
                                    </span>
                                    <span class="error text-danger" *ngIf="username.errors.minlength">
                                        Minimum number of characters is 5
                                    </span>                                    
                                </div>                                
                            </div>
                            <div class="mt-4">
                                <label class="login-label"for="password">Password</label>
                                <input type="text" class="form-control" id="password" formControlName="password"/>
                                <div *ngIf="password.invalid && (password.dirty || password.touched)" >
                                    <span class="error text-danger" *ngIf="password.errors.required">
                                        Password is required
                                    </span>
                                    <span class="error text-danger" *ngIf="password.errors.minlength">
                                        Minimum number of characters is 5
                                    </span>                                    
                                </div>
                            </div>
                            <div class="mt-4 submit-button">
                                <button type="submit" 
                                    class="btn btn-primary mb-3 w-75"
                                    (click)="submit()"
                                    [disabled]="!loginForm.valid"
                                >
                                    Sign in
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
