.login-label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    margin-bottom: 4px;
    font-size: 0.9rem;    
}

.card-body {
    padding: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15) !important;
}

.submit-button {
    margin-left: 90px;
}